<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here's all the missions!</h1>
    <ul>
        <% for (let i = 0; i < allMissions.length; i++) { %>
          <li>
            <p>The mission's name was <%= allMissions[i].name %> and it launched on <%= allMissions[i].launchDate%> and it was operated by <%= allMissions[i].operator%> and it was a <%= allMissions[i].missionType %> mission. </p>
          </li>
        <% } %>
      </ul>
</body>
</html>