<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>
  <header>
    <nav>
        <ul>
            <li><a href="/marsMissions">All Missions</a></li>
            <li><a href="/marsMissions/new">Create a Mission</a></li>
        </ul>
    </nav>
  </header>

  <h1>Missions show page</h1>
  <p>The <%= oneMission.name %> is <%= oneMission.color %>.</p>
  <% if(oneMission.readyToRoll === true){ %>
      <p>We're ready for blast off</p>
  <% } else { %>
      <p>We're not ready for blast off</p>
  <% } %>
</body>
</html>